.grid-box {
            display: grid;
            grid-template-columns: 40% 60%;
            grid-template-rows: repeat(2, 1fr);
            grid-gap: 10px;
            grid-template-areas:
                'count memo'
                'chart chart';
            height: 88vh;
        }
        .box1 {
            grid-area: count;
            /*background-color: red;*/
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-gap: 10px;
            padding: 10px;
        }
        .box2 {
            grid-area: memo;
            background-color: turquoise;
        }
        .box3 {
            grid-area: chart;
            background-color: yellow;
        }
        .square {
            width: 90%;
            height: 90%;
            background-color: #FF5533;
            border-radius: 5px;
            padding-top: 15px; /* square안의 글자 간격 */
            color: white; /* 글자 색상을 흰색으로 설정 */
        }
        .square1 {
            width: 90%;
            height: 90%;
            background-color: #000000;
            border-radius: 5px;
            padding-top: 15px; /* square 안의 글자 간격 */
            color: white; /* 글자 색상을 흰색으로 설정 */
        }
        .square2 {
            width: 90%;
            height: 90%;
            background-color: #1D50B9;
            border-radius: 5px;
            padding-top: 15px; /* square 안의 글자 간격 */
            color: white; /* 글자 색상을 흰색으로 설정 */
        }