.detailSection{
    width: 100%;
}

.detailId {
     display:flex;
     justify-content: right;
     margin: 5px;
}

.detailNameTime{
     display:flex;
     justify-content: space-between;
     margin: 5px;
}

.detailContents{
    border: 1px solid blue;
    width: 100%;
    height: 450px;
    padding: 5px;
}

.modifyButtons{
     display:flex;
     justify-content: space-between;
     margin: 5px;
}
