

.memoDetail-main{
    width: 50%;
    height: 500px;
    background-color: white;
     border: 1px solid blue;
     padding: 5px;

}

.author{
      position: relative;/* 작성자 정보를 절대 위치로 설정 */
      left:210%;
}

.date{
      position: relative;/* 작성자 정보를 절대 위치로 설정 */
      left:210%;
}
