.memoWriteMain{
    width: 90%;
    margin-left:9%
}

.memoWrite {
     width: inherit;
     margin-left: inherit;

}

.memoWriteText{
     font-weight: bolder;
     margin-top: 1.5%;
     border-bottom: 1px solid lightgrey;
    padding-bottom: 5%;
}

.memoExposeRadio{
    font-weight: bolder;
    margin-left: inherit;
    padding-bottom: 5%;
}

textarea {
      border: 1px solid blue;
      width: 90%;
      height: 50vh;
      margin-left: inherit;
      padding: 10px;
}

.listAndSubmit{
     width: inherit;
     display:flex;
     justify-content: space-between;
     margin-left:9%
     padding-top: 3%;
}

.listButton {
      background-color: white; /* 버튼 내부 색상 */
      border: 0.5px solid blue; /* 테두리 설정 */
      border-radius: 5px; /* 모서리를 둥글게 만듦 */
      padding: 15px 8px; /* 내부 여백 */
      display: inline-block; /* 인라인 요소로 표시 */
      cursor: pointer; /* 마우스를 올렸을 때 포인터 커서로 변경 */
      color: blue; /* 글자색 */
      text-align: center; /* 텍스트 가운데 정렬 */
      text-decoration: none; /* 밑줄 제거 */
      font-size: 100%;
      line-height: 0.3; /* 텍스트 라인 높이 설정 */
      transition: background-color 0.3s, color 0.3s; /* 호버 효과를 위한 전환 효과 */
}

.saveButton {
          background-color: blue; /* 버튼 내부 색상 */
          border: 0.5px solid blue; /* 테두리 설정 */
          border-radius: 5px; /* 모서리를 둥글게 만듦 */
          padding: 20px 15px; /* 내부 여백 */
          display: inline-block; /* 인라인 요소로 표시 */
          cursor: pointer; /* 마우스를 올렸을 때 포인터 커서로 변경 */
          color: white; /* 글자색 */
          text-align: center; /* 텍스트 가운데 정렬 */
          text-decoration: none; /* 밑줄 제거 */
          font-size: 100%;
          line-height: 0.3; /* 텍스트 라인 높이 설정 */
          transition: background-color 0.3s, color 0.3s; /* 호버 효과를 위한 전환 효과 */
}

.memoModMain{
     width: 90%;
     margin-left:9%
}

.memoModText{
     font-weight: bolder;
     margin-top: 1.5%;
     padding-bottom: 5%;
     background-image: linear-gradient(to right, lightgrey 50%, lightgrey 100%);
     background-size: 100% 1px;
     background-repeat: no-repeat;
     background-position: bottom;
}

.updateRadio{
     font-weight: bolder;
     margin-left: inherit;
     padding-top:2%;
     padding-bottom: 3%;
}

.listAndModify{
     width: 90%;
     display:flex;
     justify-content: space-between;
     padding-top: 3%;
}
