body {
    margin: 0;

}

.receipt-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    /*width: 40% ;
    height: 70%;*/

}
.receipt-box{
    border: 2px solid #E5E9F0;
    padding: 5% 8%;
}
