<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/pageSample.css}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/047f82d071.js" crossorigin="anonymous"></script>
</head>
<body>
<header class="header-nav">
        <span class="header-flex-box">
            <i class="fa-solid fa-list" id="sidebar-action-icon"></i>
             <a href="/dashboard">AIP System</a>
        </span>

    <span class="header-pageName header-flex-box" >DashBoard</span><!-- 현재 페이지 이름 -->

    <span class="header-flex-box">
            <span class="header-flex-three">
                <span class="header-icon">
                    <a href="#"><i class="fa-solid fa-circle-question fa-xl"></i></a>
                    <a href="#"><i class="fa-solid fa-comment-dots fa-xl"></i></i></a>

                </span>
                <img th:src="@{/img/defaultImg.png}" id="profile-img">
                <span id="submenu-trigger">
                    <a href="#">Nacamora</a>
                    <div id="submenu">
                        <a href="#">정보 변경</a>
                        <a href="/user/update">비밀번호 변경</a>
                        <a href="/logout">로그아웃</a>
                    </div>
                </span>
            </span>
        </span>
</header>
<main>
    <div class="main-cell">
        <!-- 여기서 작업하시면 됩니다. -->
    </div>
</main>
<aside>
        <span id="sidebar">
            <nav>
                <ul>
                    <li> <!-- 현재 페이지 의 해당하는 span태그에 style="color: blue;" 써주세여  -->
                        <span style="color: blue;">
                            <i class="fa-solid fa-table-cells"></i>
                            <span class="sidebar-nav-text">DashBoard</span>
                        </span>
                        <i class="fa-solid fa-chevron-right"></i>
                    </li>
                    <li onclick="location.href='/insert_form'">
                        <span>
                            <i class="fa-solid fa-credit-card"></i>
                            <span class="sidebar-nav-text">결제등록</span>
                        </span>
                        <i class="fa-solid fa-chevron-right"></i>
                    </li>
                    <li>
                        <span>
                            <i class="fa-solid fa-rectangle-list"></i>
                            <span class="sidebar-nav-text">결제목록</span>
                        </span>
                        <i class="fa-solid fa-chevron-down" id="payList-toggle"></i>
                    </li>
                    <li class="payList-nav">
                        <span class="payList">
                            <i class="fa-solid fa-square fa-2xs"></i>
                            <span class="sidebar-nav-text">전체 결제 목록</span>
                        </span>
                        <!-- <i class="fa-solid fa-chevron-right"></i> -->
                    </li>
                    <li class="payList-nav">
                        <span class="payList">
                            <i class="fa-solid fa-square fa-2xs"></i>
                            <span class="sidebar-nav-text" ><a href="/autoPayListDetail">자동 결제 목록</a></span>
                        </span>
                        <!-- <i class="fa-solid fa-chevron-right"></i> -->
                    </li>

                </ul>
            </nav>
            </span>
</aside>





</body>
<script th:src="@{/js/pageSample.js}"></script>
</html>