<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/pageSample.css}" rel="stylesheet">
    <link th:href="@{/css/dashboard.css}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/047f82d071.js" crossorigin="anonymous"></script>
</head>
<body>
<header class="header-nav">
        <span class="header-flex-box">
            <i class="fa-solid fa-list" id="sidebar-action-icon"></i>
             AIP System
        </span>

    <span class="header-pageName header-flex-box" >결제목록 / 자동 결제 목록</span><!-- 현재 페이지 이름 -->

    <span class="header-flex-box">
            <span class="header-flex-three">
                <span class="header-icon">
                    <a href=""><i class="fa-solid fa-circle-question fa-xl"></i></a>
                    <a href="#"><i class="fa-solid fa-comment-dots fa-xl"></i></i></a>

                </span>
                <img th:src="@{/img/defaultImg.png}" id="profile-img">
                <span id="submenu-trigger">
                    <a href="#">Nacamora</a>
                    <div id="submenu">
                        <a href="#">정보 변경</a>
                        <a href="#">비밀번호 변경</a>
                        <a href="#">로그아웃</a>
                    </div>
                </span>
            </span>
        </span>
</header>
<main>
    <div class="main-cell">
        <!-- 여기서 작업하시면 됩니다. -->
        <div class="grid-box">
            <div class="box1">
                <div class="square" th:utext="${#temporals.format(#temporals.createNow(), 'M월')} + ' <br>자동 결제 오류<br><br> ' + ${errorAutoPaymentCount}" style="text-align: center";>N월 자동 결제 오류</div>
                <div class="square1" th:utext="${#temporals.format(#temporals.createNow(), 'M월')} + '<br>자동 결제 성공<br><br>' + ${successAutoPaymentCount}" style="text-align: center;">N월 자동 결제 성공</div>
                <div class="square2" th:utext="${#temporals.format(#temporals.createNow(), 'M월')} + ' <br>자동 결제 불가<br><br> ' + ${waitAutoPaymentCount}" style="text-align: center";>N월 자동 결제 불가</div>
                <div class="square2" th:utext="${#temporals.format(#temporals.createNow(), 'M월')} + ' <br>자동 결제 건 수<br><br> ' + ${AutoPaymentCount}" style="text-align: center";>N월 자동 결제 건 수</div>
                <div class="square" th:utext="${#temporals.format(#temporals.createNow(), 'M월')} + ' <br>결제 신규 등록<br><br> ' + ${errorAutoPaymentCount}" style="text-align: center";>N월 결제 신규 등록</div>
                <div class="square1" th:utext="${#temporals.format(#temporals.createNow(), 'M월')} + '<br>결제 성공<br><br>' + ${PaymentCount}" style="text-align: center;">N월 결제 성공</div>
            </div>
            <div class="box2">1</div>
            <div class="box3">2</div>
        </div>
    </div>
</main>
<aside>
        <span id="sidebar">
            <nav>
                <ul>
                    <li> <!-- 현재 페이지 의 해당하는 span태그에 style="color: blue;" 써주세여  -->
                        <span>
                            <i class="fa-solid fa-table-cells"></i>
                            <span class="sidebar-nav-text">DashBoard</span>
                        </span>
                        <i class="fa-solid fa-chevron-right"></i>
                    </li>
                    <li>
                        <span>
                            <i class="fa-solid fa-credit-card"></i>
                            <span class="sidebar-nav-text">결제등록</span>
                        </span>
                        <i class="fa-solid fa-chevron-right"></i>
                    </li>
                    <li>
                        <span style="color: blue;">
                            <i class="fa-solid fa-rectangle-list"></i>
                            <span class="sidebar-nav-text">결제목록</span>
                        </span>
                        <i class="fa-solid fa-chevron-down" id="payList-toggle"></i>
                    </li>
                    <li class="payList-nav">
                        <span class="payList">
                            <i class="fa-solid fa-square fa-2xs"></i>
                            <span class="sidebar-nav-text">전체 결제 목록</span>
                        </span>
                        <!-- <i class="fa-solid fa-chevron-right"></i> -->
                    </li>
                    <li class="payList-nav">
                        <span class="payList" style="color: blue;">
                            <i class="fa-solid fa-square fa-2xs"></i>
                            <span class="sidebar-nav-text" >자동 결제 목록</span>
                        </span>
                        <!-- <i class="fa-solid fa-chevron-right"></i> -->
                    </li>

                </ul>
            </nav>
            </span>
</aside>
</body>
<script th:src="@{/js/pageSample.js}"></script>
</html>