<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/insert_form.css">
    <script src="/js/insert_form.js"></script>
</head>
<body>
<form id="paymentForm">
    결제등록
    <input type="button" value="이전저장글">
    <input type="button" value="임시저장">
    <br>
    <table border="1">
        <caption>기본 결제 등록</caption>
        <tr>
            <th><label for="documentNo">문서번호</label></th>
            <th><input type="text" id="documentNo" name="documentNo"></th>
            <th><label for="paymentCreateTime">작성일</label></th>
            <th><input type="datetime-local" id="paymentCreateTime" name="paymentCreateTime"></th>
        </tr>
        <tr>
            <th><label for="customerName">고객명</label></th>
            <th><input type="text" id="customerName" name="customerName"></th>
            <th><label for="customerEmail">이메일</label></th>
            <th><input type="text" id="customerEmail" name="customerEmail"></th>
        </tr>
        <tr>
            <th><label for="customerPhone">연락처</label></th>
            <th><input type="text" id="customerPhone" name="customerPhone"></th>
            <th><label for="customerAddress">주소</label></th>
            <th><input type="text" id="customerAddress" name="customerAddress"></th>
        </tr>
        <tr>
            <th><label for="paymentTitle">제목</label></th>
            <th colspan="3"><input type="text" id="paymentTitle" name="paymentTitle"></th>
        </tr>
        <tr>
            <th>결제설정</th>
            <th>
                <input type="checkbox" id="paymentType" name="paymentType" value="자동결제" onclick="cycle()">
                <label for="paymentType">자동결제</label>
                <input type="button" value="!">
                <input type="checkbox" id="firstPay_check" name="firstPay_check" disabled>
                <label for="firstPay_check">처음결제금액</label>
                <input type="button" value="!">
            </th>
            <th>결제구분</th>
            <th>
                <label><input type="radio" name='paymentBizTo' value='BtoC'/>B TO C</label>
                <label><input type='radio' name='paymentBizTo' value='BtoB'/>B TO B</label>
            </th>
        </tr>
        <tr>
            <th>자동결제 주기</th>
            <th>
                <label for="paymentMonth"><select id="paymentMonth" name="paymentMonth" disabled>
                    <option>다음달</option>
                    <option>다다음달</option>
                </select></label>
                <label for="autoDate"><input type="text" id="autoDate" name="autoDate" disabled></label>  일
                <label for="paymentFirstPay"><input type="text" id="paymentFirstPay" name="paymentFirstPay" disabled></label> 엔
            </th>
        </tr>
    </table>

    결제물품정보등록
    <input type="button" value="+행추가" onclick="addRow()">
    <input type="button" value="-행삭제" id="deleteRow_btn" onclick='deleteRow(-1)' disabled>
    <table border="1" id="product">
        <tr>
            <th>
                <input type="checkbox" id="masterCheckbox">
                <label for="masterCheckbox"></label>
            </th>
            <th>상품명</th>
            <th>수량</th>
            <th>단가</th>
            <th>금액</th>
        </tr>
        <tr>
            <th>
                <input type="checkbox">
            </th>
            <th><input type=text id="productName" name="productName"></th>
            <th><input type="text" id="productTotalItems" name="productTotalItems" oninput="updatetotalItems(this.parentNode.parentNode)"></th>
            <th><input type="text" id="productPrice" name="productPrice" oninput="updatePrice(this.parentNode.parentNode)"></th>
            <th><input type="text" id="productAmount" name="productAmount" readonly></th>
        </tr>
        <tr>
            <th></th>
            <th>합계</th>
            <th id="totaltotalItems"></th>
            <th id="totalPrice"></th>
            <th id="final"></th>
        </tr>
    </table>
    <input type="button" value="등록" onclick="send()">
</form>
</body>
</html>
