<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/insert_form.css">
    <script src="/js/insert_form.js"></script>
    <script>
        function collectCheckedFormData(){
            var checkedDataArray = [];
            var tableRows = document.querySelectorAll("#product tr:not(:first-child):not(:last-child)"); // 첫 행과 마지막 행을 제외하도록 수정
            tableRows.forEach(function(row, index){
                var checkbox = row.cells[0].querySelector("input[type='checkbox']");
                if(checkbox.checked){
                    var rowData = {};
                    rowData.productName = row.cells[1].querySelector("input").value;
                    rowData.amount = row.cells[2].querySelector("input").value;
                    rowData.price = row.cells[3].querySelector("input").value;
                    checkedDataArray.push(rowData);
                }
            });
            return checkedDataArray;
        }


        function send(){
            var formData = collectCheckedFormData();
            formData.forEach(function(item, index) {
                console.log("상품명: " + item.productName);
                console.log("수량: " + item.amount);
                console.log("단가: " + item.price);
            });
            var form = document.getElementById('paymentForm');
            form.action = "send";
            form.method = "POST";

            var hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", "data");
            hiddenField.setAttribute("value", JSON.stringify(formData));

            form.appendChild(hiddenField);
            alert("보내는 정보 : " + hiddenField.value);
            form.submit();
        }

    </script>
</head>
<body>
<form id="paymentForm">
    결제등록
    <input type="button" value="이전저장글">
    <input type="button" value="임시저장">
    <br>
    <table border="1">
        <caption>기본 결제 등록</caption>
        <tr>
            <th>문서번호</th>
            <th><input type="text"></th>
            <th>date</th>
            <th><input type="date" id="currentDate"></th>
        </tr>
        <tr>
            <th>고객명</th>
            <th><input type="text"></th>
            <th>이메일</th>
            <th><input type="text"></th>
        </tr>
        <tr>
            <th>제목</th>
            <th colspan="3"><input type="text" style="width:405px"></th>
        </tr>
        <tr>
            <th>결제설정</th>
            <th>
                <input type="checkbox" id="auto">
                <label for="auto">자동결제</label>
                <input type="button" value="!">
                <input type="checkbox" id="first_pay">
                <label for="first_pay">처음결제금액</label>
                <input type="button" value="!">
            </th>
            <th>결제구분</th>
            <th>
                <input type="radio" name='gender' value='BTOC'/>B TO C
                <input type='radio' name='gender' value='BTOB'/>B TO B
            </th>
        </tr>
        <tr>
            <th>자동결제 주기</th>
            <th>
                <select>
                    <option>다음달</option>
                    <option>다다음달</option>
                </select>
                <input type="text"> 일
                <input type="text"> 엔
            </th>
        </tr>
    </table>
    <form>
        결제물품정보등록
        <input type="button" value="+행추가" onclick="addRow()">
        <input type="button" value="-행삭제" id="deleteRow_btn" onclick='deleteRow(-1)' disabled>
        <table border="1" id="product">
            <tr>
                <th>
                    <input type="checkbox" id="masterCheckbox">
                    <label for="masterCheckbox"></label>
                </th>
                <!--<th>NO.</th>-->
                <th>상품명</th>
                <th>수량</th>
                <th>단가</th>
                <th>금액</th>
            </tr>
            <tr>
                <th>
                    <input type="checkbox">
                </th>
                <!--<th>1</th>-->
                <th><input type=text></th>
                <th><input type="text" id="amount" oninput="updateAmount(this.parentNode.parentNode)"></th>
                <th><input type="text" id="price" oninput="updatePrice(this.parentNode.parentNode)"></th>
                <th id="res" disabled></th>
            </tr>
            <tr>
                <th></th>
                <!--<th></th>-->
                <th>합계</th>
                <th id="totalAmount"></th>
                <th id="totalPrice"></th>
                <th id="final"></th>
            </tr>
        </table>
        <input type="button" value="등록" onclick="send()">
    </form>
</body>
<script>document.getElementById('currentDate').value = new Date().toISOString().substring(0, 10);</script>
<script>
    function toggleAllCheckboxes() {
            var masterCheckbox = document.getElementById('masterCheckbox');
            var checkboxes = document.querySelectorAll("#product input[type='checkbox']");
            checkboxes.forEach(function(checkbox) {
                checkbox.checked = masterCheckbox.checked;
            });
        }

        window.addEventListener('DOMContentLoaded', function() {
            document.getElementById('masterCheckbox').addEventListener('click', toggleAllCheckboxes);
        });
</script>
</html>
