<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/pageSample.css}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/047f82d071.js" crossorigin="anonymous"></script>
</head>
<body>
<header class="header-nav">
        <span class="header-flex-box header-logo">

            <span class="sidebar-action-border">
                <img th:src="@{/img/header_sidebar.png}" id="sidebar-action-icon">
            </span>
            <a href="/dashboard">AIP System</a>
        </span>

    <span class="header-pageName header-flex-box" >현재 페이지</span><!-- 현재 페이지 이름 -->

    <span class="header-flex-box">
            <span class="header-flex-three">
                <span class="header-icon">
                    <a href="#"><img th:src="@{/img/help.png}" id="help_icon"></a>
                    <a href="#"><img th:src="@{/img/chart.png}" id="chart_icon"></a>
                    <a href="#"><img th:src="@{/img/memo.png}" id="memo_icon"></a>
                </span>
                <img th:src="@{/img/profileImg.png}" id="profile-img">
                <span id="submenu-trigger">
                    <a href="#">Nacamora</a>
                    <div id="submenu">
                        <a href="#">정보 변경</a>
                        <a href="#">비밀번호 변경</a>
                        <a href="/logout">로그아웃</a>
                    </div>
                </span>
            </span>
        </span>
</header>
<main>
    <div class="main-cell">
        <!-- 여기서 작업하시면 됩니다. -->
        
    </div>
</main>
<aside>
        <span id="sidebar">
            <nav>
                <ul class="sidebar-ul">
                    <li> <!-- 현재 페이지 의 해당하는 span태그에 style="color: blue;" 써주세여  -->
                        <span>
                            <img th:src="@{/img/sidebar_dashboard.png}" id="sidebar_dashboard_icon">
                            <span class="sidebar-nav-text">DashBoard</span>
                        </span>
                        <i class="fa-solid fa-chevron-right"></i>
                    </li>
                    <li>
                        <span>
                            <img th:src="@{/img/sidebar_card.png}" id="sidebar_card_icon">
                            <span class="sidebar-nav-text">결제등록</span>
                        </span>
                        <i class="fa-solid fa-chevron-right"></i>
                    </li>
                    <li>
                        <span style="color: blue;">
                            <img th:src="@{/img/sidebar_payList.png}" id="sidebar_payList_icon">
                            <span class="sidebar-nav-text">결제목록</span>
                        </span>
                        <i class="fa-solid fa-chevron-down" id="payList-toggle"></i>
                    </li>
                    <li class="payList-nav">
                        <span class="payList">
                            <i class="fa-solid fa-square fa-2xs"></i>
                            <span class="sidebar-nav-text">전체 결제 목록</span>
                        </span>
                        <!-- <i class="fa-solid fa-chevron-right"></i> -->
                    </li>
                    <li class="payList-nav">
                        <span class="payList" style="color: blue;">
                            <i class="fa-solid fa-square fa-2xs"></i>
                            <span class="sidebar-nav-text" ><a href="#">자동 결제 목록</a></span>
                        </span>
                        <!-- <i class="fa-solid fa-chevron-right"></i> -->
                    </li>

                </ul>
            </nav>
            </span>
</aside>
</body>
<script th:src="@{/js/pageSample.js}"></script>
</html>